In [9]:
import pandas as pd
import numpy as np
import io
df=pd.read_csv('test - Sheet1.csv',header=None)
df

        0       1       2     3
0  Bread     Milk     NaN   NaN
1    Beer   Bread  Diaper  Eggs
2    Milk  Diaper    Beer  Coke
3   Bread    Milk  Diaper  Beer
4   Bread    Milk  Diaper  Coke

In [11]:
from collections import Counter     #count the items in an iterable list,Counter holds the data in an unordered collection
from itertools import combinations        
Candidate_set = []
Frequent_set = []
items = pd.unique(df.values.ravel())   #unique values in column
items = items[~pd.isnull(items)]       #consider only not null itemset
min_support = float(input("Enter Min Support: ")) #Input from user
flag=0

for iterno in range(1,len(items)+1): #Max iterations is equal to the items in the dataset
    Count = {}     
    intermediate = []   
    print("C"+str(iterno)+":")
    if iterno==1:
        Candidate_set.append(items)
        for txn in Candidate_set[iterno-1]:
            ctr=0
            for val in df.values:
                if txn in val:
                    ctr+=1
            Count[txn] = ctr
    else:
        if Frequent_set!=[]:
            Candidate_set.append(list(combinations(np.unique(np.array(Frequent_set[iterno-2]).ravel()),iterno)))
            for txn in Candidate_set[iterno-1]:
                ctr = 0
                for val in df.values:
                    if all(i in val for i in txn):
                        ctr+=1
                Count[txn] = ctr
            
    for k in Count.keys():
        if Count[k] >= min_support:
            intermediate.append(k)       
  
    print(Count)
    print()
   
    print("L"+str(iterno)+":")
    for key,value in Count.items():
        if(value>=min_support):
            print(key,':',value)
    print()

    if intermediate == []:
        print('Final Frequent Set')
        if Frequent_set !=[]:
            print(Frequent_set[-1])
            flag=1
            break
        else:
            print("no such frequent set")
            flag=1
            break
    Frequent_set.append(intermediate)

if flag==0:
    if Frequent_set !=[]:
        print('Final Frequent Set:')
        print(Frequent_set[-1])
    else:
        print("no such frequent set")

Enter Min Support: 2
C1:
{'Bread ': 1, 'Milk': 4, 'Beer': 3, 'Bread': 3, 'Diaper': 4, 'Eggs': 1, 'Coke': 2}

L1:
Milk : 4
Beer : 3
Bread : 3
Diaper : 4
Coke : 2

C2:
{('Beer', 'Bread'): 2, ('Beer', 'Coke'): 1, ('Beer', 'Diaper'): 3, ('Beer', 'Milk'): 2, ('Bread', 'Coke'): 1, ('Bread', 'Diaper'): 3, ('Bread', 'Milk'): 2, ('Coke', 'Diaper'): 2, ('Coke', 'Milk'): 2, ('Diaper', 'Milk'): 3}

L2:
('Beer', 'Bread') : 2
('Beer', 'Diaper') : 3
('Beer', 'Milk') : 2
('Bread', 'Diaper') : 3
('Bread', 'Milk') : 2
('Coke', 'Diaper') : 2
('Coke', 'Milk') : 2
('Diaper', 'Milk') : 3

C3:
{('Beer', 'Bread', 'Coke'): 0, ('Beer', 'Bread', 'Diaper'): 2, ('Beer', 'Bread', 'Milk'): 1, ('Beer', 'Coke', 'Diaper'): 1, ('Beer', 'Coke', 'Milk'): 1, ('Beer', 'Diaper', 'Milk'): 2, ('Bread', 'Coke', 'Diaper'): 1, ('Bread', 'Coke', 'Milk'): 1, ('Bread', 'Diaper', 'Milk'): 2, ('Coke', 'Diaper', 'Milk'): 2}

L3:
('Beer', 'Bread', 'Diaper') : 2
('Beer', 'Diaper', 'Milk') : 2
('Bread', 'Diaper', 'Milk') : 2
('Coke', 'Diaper', 'Milk') : 2

C4:
{('Beer', 'Bread', 'Coke', 'Diaper'): 0, ('Beer', 'Bread', 'Coke', 'Milk'): 0, ('Beer', 'Bread', 'Diaper', 'Milk'): 1, ('Beer', 'Coke', 'Diaper', 'Milk'): 1, ('Bread', 'Coke', 'Diaper', 'Milk'): 1}

L4:

Final Frequent Set
[('Beer', 'Bread', 'Diaper'), ('Beer', 'Diaper', 'Milk'), ('Bread', 'Diaper', 'Milk'), ('Coke', 'Diaper', 'Milk')]